<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heath_bar.tvdb"
    android:installLocation="auto"
    android:versionCode="4"
    android:versionName="0.3.1">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"/>
	<permission android:name="com.heath_bar.tvdb.search"></permission>
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.heath_bar.tvdb.search" />
	<uses-permission android:name="com.heath_bar.tvdb.provider" />
	
	<application android:icon="@drawable/tvdb_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.tvdb">
        
        <activity android:name="com.heath_bar.tvdb.TheTVDBActivity" android:label="@string/app_name" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <meta-data android:name="android.app.default_searchable" android:value="com.heath_bar.tvdb.SearchResults" />
        </activity>
        
        
        <activity android:label="Series Overview" android:name="com.heath_bar.tvdb.SeriesOverview">
            <meta-data android:name="android.app.default_searchable" android:value="com.heath_bar.tvdb.SearchResults" />
        </activity>
        
        <activity android:name="com.heath_bar.tvdb.EpisodeDetails">
            <meta-data android:name="android.app.default_searchable" android:value="com.heath_bar.tvdb.SearchResults" />
        </activity>
        
        <activity android:name="com.heath_bar.tvdb.ActorDetails">
            <meta-data android:name="android.app.default_searchable" android:value="com.heath_bar.tvdb.SearchResults" />
        </activity>
         
        <activity android:name="com.heath_bar.tvdb.BannerViewer">
            <meta-data android:name="android.app.default_searchable" android:value="com.heath_bar.tvdb.SearchResults" />
        </activity>
        
        <activity android:name="com.heath_bar.tvdb.SearchResults" android:permission="com.heath_bar.tvdb.search">
             <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
               
        <service  android:name="com.heath_bar.tvdb.UpdateService" android:enabled="true"></service>
        <activity android:name="com.heath_bar.tvdb.Preferences"></activity>
        
        
    </application>
    
</manifest>